.wf-mplus1p p{ font-family: "Mplus 1p"; }
.wf-roundedmplus1c p{ font-family: "Rounded Mplus 1c"; }
.wf-hannari p{ font-family: "Hannari"; }
.wf-kokoro p{ font-family: "Kokoro"; }
.wf-sawarabimincho p{ font-family: "Sawarabi Mincho"; }
.wf-sawarabigothic p{ font-family: "Sawarabi Gothic"; }
.wf-nikukyu p{ font-family: "Nikukyu"; }
.wf-nicomoji { font-family: "Nico Moji"; }
.wf-notosansjapanese { font-family: "Noto Sans Japanese"; }
