/*
* Noto Serif CJK  (japanese) https://www.google.com/get/noto/
 */
@font-face {
    font-family: 'Noto Serif CJK JP';
    font-style: normal;
    font-weight: 400;
    src: url(../../fonts/NotoSerifCJKjp-Regular.woff2) format('woff2'),
    url(../../fonts/NotoSerifCJKjp-Regular.woff) format('woff'),
    url(../../fonts/NotoSerifCJKjp-Regular.otf) format('opentype')
}

@font-face {
    font-family: 'Noto Serif CJK JP';
    font-style: normal;
    font-weight: 700;
    src: url(../../fonts__/NotoSerifCJKjp-Bold.woff2) format('woff2'),
    url(../../fonts__/NotoSerifCJKjp-Bold.woff) format('woff'),
    url(../../fonts__/NotoSerifCJKjp-Bold.otf) format('opentype')
}

.wf-noto-serif p {
    font-family: "Noto Serif CJK JP";
}

html, body {
    font-family: 'Noto Serif CJK JP', sans-serif;
}
